*, *::before, *::after{
	box-sizing: border-box;
}

:root{
	font-family: Arial, sans-serif;
}

nav ul li:hover{
    margin-left: 10px;
    color:#d11616;
    background-color: #0cf082;
    transform: matrix3d(4deg);
    -moz-transform: matrix3d(4deg);
    -webkit-transform: matrix3d(4deg);
}

header, footer{
	padding: 5px;
	background: white;
	border: 10px solid #8c0ff2;
	width: 80%;
	margin: 0 auto;
}

header h1{
	text-align: center;
	color:  #8c0ff2;
}

nav ul{
	display: flex;
	list-style-type: none;
	justify-content: center;
}

nav ul li{
	padding: 10px;
	margin: 5px;
	background:  #8c0ff2;
}

nav ul li a{
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
}

h2{
	color: white;
	text-decoration: underline;
}

main {
	display: flex;
	flex-flow: column;
	align-items: center;
}

article {
	position: relative;
	background: white;
	padding: 10px;
	margin: 10px;
	border: 10px solid #8c0ff2;
	border-radius: 5px;
	-webkit-box-shadow: 4px 6px 9px -2px #000000; 
	box-shadow: 4px 6px 9px -2px #000000;
}

article p{
	float: left;
	max-width: 50%;
}

article img{
	border-radius: 50%;
	object-fit: contain;
	width: 200px;
	height: 200px;
	float: left;
}

article a{
	position: absolute;
	left: 20px;
	bottom: 20px;
	color: white;
	background: #8c0ff2;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	padding: 5px;
}

h1, h2, h3{
	color:  #8c0ff2;
}

footer{
	text-align: center;
	font-size: 120%;
	font-weight: bold;
}